<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="./public/styles.css">
 <title>Copernicus</title>

  </head>

  <body>

<div id="container"></div>
<script src="http://threejs.org/build/three.min.js"></script>

<script>

var renderer, scene, camera;
var theSun, 
    theEarthAndMoon,
    theEarth,
    theMoon,
    Mars, 
    Jupiter;


var earthOrbitRadius = 150,
    earthOrbitAngle = 0,
    earthOrbitSpeed = 0.2,
    
    marsOrbitRadius = 50,
    marsOrbitAngle = 20,
    marsOrbitSpeed = 0.8,
    
    jupiterOrbitRadius = 220,
    jupiterOrbitAngle = 0,
    jupiterOrbitSpeed = 0.05,
    
    moonOrbitRadius = 10,
    moonOrbitAngle = 20,
    moonOrbitSpeed = 1;

init();
animate();

function init() {

    // dom
    var container = document.getElementById( 'container' );

    // renderer
    renderer = new THREE.WebGLRenderer( { clearColor: 0x000000, alpha: true } );
    renderer.setSize( window.innerWidth, window.innerHeight );
    container.appendChild( renderer.domElement );
    
    // scene
    scene = new THREE.Scene();

    //camera
    camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 10000 );
    camera.position.z = 280;
    camera.position.y = 80; 
    //
    var ambientLight = new THREE.AmbientLight(0xF0F0F0);
        scene.add(ambientLight);
    
    var light = new THREE.SpotLight(0xFFFFFF);
        light.intensity = 4; 
        light.position.set(0, 0, 0);
        scene.add(light);
    //


    // var earthGeometry = new THREE.SphereGeometry(36, 28.8, 14.4);

// var earthMap  = textureLoader.load('assets/earthPics/earthmap1k.jpg');
// var earthBump = textureLoader.load('assets/earthPics/earthbump1k.jpg');
// var earthSpec = textureLoader.load('assets/earthPics/earthspec1k.jpg');
// var earthTexture = new THREE.MeshPhongMaterial( { map: earthMap, bumpMap: earthBump, specularMap: earthSpec} );
// var earth = new THREE.Mesh(earthGeometry, earthTexture );





    var sunGeometry = new THREE.SphereGeometry(30, 28.8, 14); 
    var textureLoader = new THREE.TextureLoader();
    var sunMap  = textureLoader.load('assets/earthPics/sunmap.jpg');
    var sunTexture =  new THREE.MeshPhongMaterial( { map: sunMap} );
    theSun = new THREE.Mesh( sunGeometry, sunTexture); 
    theSun.rotation.z = 23.439281 * Math.PI / 180; //tilt of earth in radians;
    scene.add(theSun);
    
    Mars = new THREE.Mesh(new THREE.SphereGeometry(3, 16, 15), new THREE.MeshBasicMaterial({
        color: 'red' 
    }));
    scene.add(Mars);


    var marsGeometry = new THREE.SphereGeometry(3, 28, 14); 
    var marsMap  = textureLoader.load('assets/earthPics/mars_1k_color.jpg');
    var marsBump = textureLoader.load('assets/earthPics/mars_1k_marsbump1k.jpg');
    var marsNormal = textureLoader.load('assets/earthPics/mars_1k_normal.jpg');
    var marsTexture =  new THREE.MeshPhongMaterial( { map: marsMap, bumpMap: marsBump, normalMap: marsNormal} );
    Mars = new THREE.Mesh( marsGeometry, marsTexture); 
    scene.add(Mars);



    var jupiterGeometry = new THREE.SphereGeometry(5, 28.8, 14); 
    var jupiterMap  = textureLoader.load('assets/earthPics/jupiterMap.jpg');
    var jupiterTexture =  new THREE.MeshPhongMaterial( { map: jupiterMap} );
    Jupiter = new THREE.Mesh( jupiterGeometry, jupiterTexture); 
    scene.add(Jupiter);

    
    //this is the object that will have its position changed to orbit around the sun    
    theEarthAndMoon = new THREE.Object3D();
    theEarthAndMoon.rotation.z = 23.439281 * Math.PI / 180; //tilt of earth in radians;
    scene.add(theEarthAndMoon);
    
    theEarth = new THREE.Mesh(new THREE.SphereGeometry(5, 16, 15),  new THREE.MeshLambertMaterial({
        color:"blue"
    }));
    
    theEarthAndMoon.add(theEarth); 
    
    theMoon = new THREE.Mesh(new THREE.SphereGeometry(1, 16, 15),  new THREE.MeshLambertMaterial({
        color:"white"
    }));
    
    theEarthAndMoon.add(theMoon);



   
 
}

function animate() {

    requestAnimationFrame( animate );

    render();

}

function render() {

    //run the earth's orbit around the Sun
    earthOrbitAngle += earthOrbitSpeed; 
    marsOrbitAngle -= marsOrbitSpeed
    jupiterOrbitAngle -= jupiterOrbitSpeed
    var radians = earthOrbitAngle * Math.PI / 180;
    var marsRadians = marsOrbitAngle * Math.PI/180;
    var jupiterRadians = jupiterOrbitAngle * Math.PI/180;
    
    theEarthAndMoon.position.x = Math.cos(radians) * earthOrbitRadius;
    theEarthAndMoon.position.z = Math.sin(radians) * earthOrbitRadius;
    
    Mars.position.x = Math.cos(marsRadians) * marsOrbitRadius;
    Mars.position.z = Math.sin(marsRadians) * marsOrbitRadius;
    Mars.rotation.y += .02; 

    theSun.rotation.z += .001; 
    theSun.rotation.y -= .005; 
    
    Jupiter.position.x = Math.cos(jupiterRadians) * jupiterOrbitRadius;
    Jupiter.position.z = Math.sin(jupiterRadians) * jupiterOrbitRadius;
    Jupiter.rotation.y -= .02; 
 
    
    //run the Moon's orbit around the Earth
    moonOrbitAngle += moonOrbitSpeed; 
    var moonRadians = moonOrbitAngle * Math.PI / 180;
    
    theMoon.position.y = Math.cos(moonRadians) * moonOrbitRadius;
    theMoon.position.z = Math.sin(moonRadians) * moonOrbitRadius;
    
    // render
    renderer.render( scene, camera );

}


  </script>

  </body>

</html>
