<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./public/styles.css">
    <title>Welcome to Copernicus</title>
    <script type="text/javascript" src="./lib/three.min.js"></script>
    <script type="text/javascript" src="./galaxyScene/earthAndMoon.js"></script>
    <script type="text/javascript" src="./galaxyScene/sun.js"></script>
    <script type="text/javascript" src="./galaxyScene/jupiter.js"></script>
    <script type="text/javascript" src="./galaxyScene/mars.js"></script>
    <script type="text/javascript" src="./galaxyScene/lights.js"></script>
    <script type="text/javascript" src="./galaxyScene/mercury.js"></script>
    <script type="text/javascript" src="./galaxyScene/saturn.js"></script>
    <script type="text/javascript" src="./galaxyScene/uranus.js"></script>
    <script type="text/javascript" src="./galaxyScene/venus.js"></script>
    <script type="text/javascript" src="./galaxyScene/neptune.js"></script>

  </head>

  <body>
    <div id="container">
      <h1 id='banner'>Copernicus</h1>
      <div id='chooseGame'>
        <button class='newGame' id="onePlayer">One Player Game</button>
        <a href='./game'><button class='newGame' id="twoPlayer">Two Player Game</button></a>
      </div>
    </div>

    <script type="text/javascript" src="./galaxyScene/galaxyScene.js"></script>
  </body>

</html>
