<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./public/styles.css"><link>
    <title>Copernicus</title>
    <script type="text/javascript" src="./lib/three.min.js"></script>
    <script type="text/javascript" src="./public/chooseGame.js"></script>

  </head>

  <body>
    <div id="searchBar">
      Enter your room name:
      <br>
      <input id="room" type="text" name="rName"><br>
    </div>
  </body>

</html>
