body {
   font-size:20px;
   font-family: 'Roboto';
   color: #fff;
   background-image:url('assets/starfield2.jpg');
   margin: 0px;
   overflow: hidden;
   font-family: 'Fjalla One', sans-serif;
 }

#infoPanel {
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
}

.onepix-imgloader {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 40%;
  z-index: 1000;
  text-align: center;
}

.onepix-imgloader p {
  font-size: 40px;
}

.loading-container > *:not(.onepix-imgloader) {
  opacity:0;
  height: 100%;
}

.loading-container {
  position:absolute;
  background: #dfdfdf;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-image:url('assets/starfield2.jpg');
}

#signalingArea {
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(0,0,128, .1);
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  margin-left: 40%;
  width: 20%;
  margin-top: -85%;
  font-size: 200%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#pointsDiv {
  margin-left: 60%;
  /*margin: auto;*/
  margin-top:10px;
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(0,0,128, .1);
  color: #FFF;
  text-align: center;
  width: 30%;
  font-size: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5% ;
}

#throwBall {
  margin-left: 41.5%;
  /*margin: auto;*/
  margin-top:10px;
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(0,0,128, .1);
  color: #FFF;
  text-align: center;
  width: 17%;
  font-size: 130%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

span {
  font-size: 130%;
  font-weight: bolder;
}

#p1Points {
  margin-left: 6.5%;
}

#p2Points {
  margin-left: 6.5%;
}

#testDiv {
  font-size: 130%;
  margin: auto;
  margin-top: 50px;
}
