body {
   color: #fff;
   background-image:url('/assets/starfield2.jpg');
   margin: 0px;
   overflow: hidden;
   font-family:  'Roboto Condensed', sans-serif;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

#containerG {
  position: absolute;
  top: 5%;
  left: 0px;
  z-index: -1;

}
#closeGif{
  position: absolute;
  top: 67%;
  left: 60%;
  font-size: 150%;
  color: #FFF;
  z-index: 8700;

}

#topInstr{
  text-align: center;
  font-weight: 700;
  font-size: 120%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20% ;
}




.modal-body, .modal-title, .modal-content{
  color: #000;
  text-shadow: none;
  font-family: sans-serif;
  z-index: 11000;

}

  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
/*  .modal-footer {
      background-color: #f9f9f9;
  }*/

.modal-backdrop{
  z-index: 0;
}

#pointsDivOnePlayer{
  opacity: 0;
  position: absolute;
  right: 0px;
  margin-top: 3%; /* 20px / 808px */
  margin-right: 1.49%; /* 20px / 1440px */

  background: rgba(0,0,128, 0);
  color: #FFF;
  text-align: center;
  width: 30%;
  font-size: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5% ;
}

#gear {
  color: #FFF;
  margin: 0;
  padding: 0;
  text-align: center;
}

#gif{
  position: absolute;
  width: 33%;
  top: 33%;
  left: 33%;
  z-index: 4000;
  pointer-events: none;
}

#banner {
  letter-spacing: 5px;
  font-size: 310%;
  margin-top: 1%;
  text-align: center;
  color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
 }

 #roomName {
  font-size: 226%;
  margin-top: 1%;
  text-align: center;
  color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
 }

#change {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 1.49%;
  margin-bottom: 5%;
}


.angle {
  position: absolute;
  top: 100%;
  left: 2%;
 
}

.angle input {
    cursor: pointer;
    color: white;
    background: rgba(0,0,128, .1);
    border: none;
    font-size: 100%;

}

/* choose game buttons */
#chooseGame {
  outline:none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-top: 6%;
  margin-left: -123.415px;
 }

/*#onePlayer {
  position: relative;
  top: -20px;
  margin-left: 14%;
*/

#twoPlayer {
  z-index: 3;
  text-align: left;
}

#twoPlayerCol{
  z-index: 1;
}


#multiplayer {
/*  position: relative;
  display: inline-block;
  width: 121.16px;
  padding-bottom: 5px;*/
}

#singleplayer {
  position: relative;
  display: inline-block;
  width: 121.39px;
}

#emptyButton {
  opacity: 0;
  margin-top: 7px;
}

 #joinGame {
   opacity: 0;
    z-index: 9;
   text-align: center;
 }

 .row-buttons{
  z-index: 8;
 }

 #startGame {
   opacity: 0;
    text-align: center;
    z-index: 9;

 }

.newGame {
  cursor: pointer;
  outline: none;
 background: rgba(0,0,128, .1);
 border: none;
 color: #fff;
 margin-top: -10px;
 z-index: 9998;
 font-family: 'Roboto Condensed', sans-serif;
}
#start-tracking{
  visibility: hidden;
}

/*#searchBar {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -203px;
  font-size: 40px;
  text-align: center;
}*/

#room {
  color: #000;
  padding-left: 5px;
  width: 400px;
  height: 50px;
  font-size: 100%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* loading screen */
.onepix-imgloader {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 40%;
  z-index: 1000;
  text-align: center;
}

.onepix-imgloader p {
  font-size: 40px;
}

.loading-container > *:not(.onepix-imgloader) {
  opacity:0;
  height: 100%;
}

.loading-container {
  position: absolute;
  background: #dfdfdf;
  height: 100%;
  width: 100%;
  z-index: 6501;
  background-image:url('/assets/starfield2.jpg');
}

#distArea {
  margin-bottom: -.1%;
}

#canvasloader-container {
  position: absolute;
  width: 30%;
  height: 23%;
  left: 50%;
  margin-left: -15%;
  top: 50%;
  margin-top: -8%;
}

#bg {
  position: relative;
}

/* gameplay information */
#infoPanel {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 7005;
}

#signalingArea {
  position: absolute;
  z-index: -1;
  left: 50%;
  width: 20%;
  margin-left: -10%;
  margin-top: 2.48%;

  background: rgba(0,0,128, 0);
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#end {
  position: absolute;
  opacity: 0;
  z-index: 9999;
  margin-top: 20.48%;
  margin-left: 33%;
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(0,0,128, .7);
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  width: 33%;
  font-size: 200%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#instructions {
  position: absolute;
  z-index: 10199;
  margin-top: 13%;
  margin-left: 10%;
  margin-right: 10%;
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(0,0,128, .8);
  color: #FFF;
  vertical-align: middle;
  width: 80%;
  font-size: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
}


#throwBall {
  opacity: 0;
  position: absolute;
  margin-top: 2.48%;
  left: 50%;
  width: 20%;
  margin-left: -10%;
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(0,0,128, 0);
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  font-size: 150%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#displayData{
position: absolute;
top: 2%;
left: 2%;
}

#pointsDiv {
  opacity: 0;
  position: absolute;
  right: 0px;
  margin-top: 3%; /* 20px / 808px */
  margin-right: 1.49%; /* 20px / 1440px */
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(0,0,128, 0);
  color: #FFF;
  text-align: center;
  width: 30%;
  font-size: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5% ;
}

#p1Points, #p2Points, #p1OnlyPoints {

  font-weight: bolder;
}

#p1Points{
margin-left: 6.5%;
}

#p2Points{
 margin-left: 5.5%;
}
.top-buffer {
  margin-top: 2%;
}

.top-bigSpace {
  margin-top: 10%;
}
.underBanner-buffer {
  margin-top: 1%;
}

#line-graph {
  opacity: 0;
  font-family: sans-serif;
  text-shadow: 0px 0px #FFF;
  position: absolute;
  right: 0px;
  margin-top: 12%;
  margin-right: 1.49%;
}
#onePlayerCol{
  text-align: right;
}


#v0Div {
 margin-bottom: -.2%; 
}

#tDiv {
  margin-bottom: -.6%; 
}

#bg {
  z-index: 1000;
}


/*shows over video footage*/


/*container holding items that user does not need to see*/
#items-to-be-hidden {
  position: absolute;
  width: 100%;
  /*margin-left: 200px;*/
}

#allow-webcam {
  position: absolute;
  z-index: 8500;
  margin-left: 200px;
  margin-top: 70px;
}

#start-scan {
  visibility: hidden;
  border: none;
  font-size: 70%;
  z-index: 8500;
}

.svg-container{
  background: rgba(0,0,128, 0);
  color: #FFF;
}

#heightArea {
  margin-bottom: -.5%;
}

#hand-info {
  margin-top: -20px;
  width: 140px;
  height: 55px;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 10px;
  background-color: rgba(40,40,40, 0.9);
  border-radius: 7px;
}

#current-gravity {
  display: inline-block;
  margin-left: 5px;
  padding: 0;
}
#gravity{
  margin-bottom: -3%;
}

#velocity {
  z-index: 6000;
  position: absolute;
  top: 80%;
  left: 60%;
  width: 80px;
  text-align: center;
  background-color: rgba(0,0,0, .7);
  border-radius: 10px;
  display: none;
}


#velocity-num {
  display: inline-block;
  font-size: 25px;
  margin: 4px 0;
}

#show-video {
  visibility: hidden;
  width: 20%;
  margin-top: 5%;
  margin-left: 40%;
  position: absolute;
  z-index: 7999;
}

#myVideo,
#transparent-circle {
  width: 100%;
}

#transparent-circle {
  opacity: 0.94;
  z-index: 4001;
}

/*container that holds the circle png over the video*/
#take-snapshot {
  visibility: hidden;
  position:absolute;
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  z-index: 8000;
  border: 1px solid #999;
}

#how-to-play {
  position: absolute;
  z-index: 5000;
  bottom: 5%;
  margin-left: 20px;
  opacity: 0.8;
}

#how-to-play img {
  display: block;
  width: 60px;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

.test{
  color: #FFF;
}




